/* You can add global styles to this file, and also import other style files */
body{ background: #121212; 
    /* width: 300px;
    height: 300px; */
    /* background-size: cover; */
    background-size: 100% 100vh;
    /* border: 1px solid white; */
    /* background-image: url(https://images.unsplash.com/photo-1499162526249-f5b8b9ba9923?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=865bf5c0b77ceb22e88de9fd41c5a671); */
    background-image: url(https://i.ibb.co/TYVk43P/wp11912872.jpg);
    background-repeat: no-repeat; 
    touch-action: none;
}